.container .teacher
{
	text-align: left;
	height:260px;
	width:560px;
	margin-top: 20px ;
	margin-left: auto;
margin-right: auto;
}

.container .teacher #yanjianfeng
{
	width:160px;
	height:200px;
	float: left;
}

.container .teacher #yanjianfeng-text
{
	padding-left:180px;
	width:400px;
	height:260px;
	font-size: 15px;
	line-height: 14px;
}

.container .group{
	margin: 10px auto;
	height: 700px;
	font-size: 13px;
}

.container .group #about
{
	margin: 20px 65px;
	float: left;
	height: 280px;
	width: 160px;
	text-align: center;
}

.container .group #about a:link
{
	text-decoration: none;
}

.footer
{
	width: 1000px;
	margin: 20px auto;
}