
.container .teacher
{
text-align: center;
height:600px;
width:260px;
margin-top: 20px ;
border:3px solid #A4A4A5;
float: left;
}

#title
{
	color: white;
	text-align: left;
	background:#1f1f1f;
}

.teacher #about{
overflow: auto;
line-height: 28px;
margin: 30px 10px;
}

.list
{
	height:280px;
	width: 914px;
	border:3px solid #A4A4A5;
	margin: 20px 0px 20px 280px ;
}