{% extends "Eheader.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/header.css" type="text/css">
<link rel="stylesheet" href="/static/css/homepage.css" type="text/css" >
<title>Machine Learning Group</title>
{% endblock %}
{%block body%}
    <div class="teacher">
      <div id="yanjianfeng">
        <img src="/static/img/teacher.jpg" alt="picture" height="200px" width="160px" title=""/></div>
      <div id="yanjianfeng-text">
        <p><b>Yan Jian-Feng</b></p>
          <p>PhD, Associate Professor</p>
          <p>School of Computer Science and Technology, Soochow University</p>
<p><b>Office</b>  hjdjsjkdmdmdmddmdmdmd</p>
<p><b>Phone </b> 18888886666</p>
<p><b>Email </b> hdshadhsah@bgds.com</p>
<p><b>Address</b> sdjdjnncncncmmfhhfjkkkmmf</p>
          </div>
    </div>
  <div class="group">
   <h2><center>Member</center></h2>
    <div id="about">
       <img src="/static/img/01.jpg" alt="picture" height="200px" width="160px" title=""/>
        <b>Davie</b>
        <p>Soochow University<p>
        <a href ="">[Personal Homepage]</a>
        </div>
    <div id="about">
        <img src="/static/img/02.jpg" alt="picture" height="200px" width="160px" title=""/>
        <b>Anna</b>
          <p>Soochow University<p>
            <a href ="">[Personal Homepage]</a>
        </div>
        <div id="about">
    
        <img src="/static/img/03.jpg" alt="picture" height="200px" width="160px" title=""/>
        <b>Jack</b>
          <p>Soochow University<p>
            <a href ="">[Personal Homepage]</a>
         
        </div>
        <div id="about">
     
        <img src="/static/img/04.jpg" alt="picture" height="200px" width="160px" title=""/>
        <b>Jackson</b>
          <p>Soochow University<p>
            <a href ="">[Personal Homepage]</a>
          
        </div>
        <div id="about">
     
        <img src="/static/img/05.jpg" alt="picture" height="200px" width="160px" title=""/>
        <b>Meil</b>
          <p>Soochow University</p>
            <a href ="">[Personal Homepage]</a>
         
        </div>
        <div id="about">
     
        <img src="/static/img/06.jpg" alt="picture" height="200px" width="160px" title=""/>
        <b>Jesi</b>
          <p>Soochow University</p>
            <a href ="">[Personal Homepage]</a>
          
        </div>
        <div id="about">
     
        <img src="/static/img/07.jpg" alt="picture" height="200px" width="160px" title=""/>
        <b>Mikiy</b>
          <p>Soochow University<p>
            <a href ="">[Personal Homepage]</a>
         
        </div>
        <div id="about">
        <img src="/static/img/08.jpg" alt="picture" height="200px" width="160px" title=""/>
        <b>Yiki</b>
          <p>Soochow University<p>
            <a href ="">[Personal Homepage]</a>
        </div>
    </div>
    <div class="footer">
        <img src="/static/img/footer.jpg" alt="picture" height="260px"  width="1000px" title=""/>
    </div>
    </div>
	</div>	
{%endblock%}