{% extends "Eheader.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/header.css" type="text/css">
<link rel="stylesheet" href="/static/css/resource.css" type="text/css" >
<title>Resource</title>
{% endblock %}
{%block body%}
    <div class="left">
      <div id="title">
        Machine-Learning-Resource
      </div>
      <li><a href="http://blog.jobbole.com/56256/"><<机器学习的最佳入门学习资源>></a></li>
      <li><a href="http://www.csdn.net/article/2014-12-27/2823330"><<研究机器学习之MLlib实践经验>></a><li>
        <li><a href="http://blog.csdn.net/suipingsp/article/details/42101139"><< 机器学习经典算法详解及Python实现--线性回归（Linear Regression）算法>></a><li>
          <li><a href="http://blog.csdn.net/braveheart89/article/details/8142383"><<机器学习十大算法>></a></li>
          <li><a href="http://blog.csdn.net/pongba/article/details/2915005"><<机器学习与人工智能学习资源导引>></a></li>
    </div>
    <div class="right">
      <div id="title">
        Our Gains</div>
      </div>
</div>
{%endblock%}