{% extends "Eheader.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/header.css" type="text/css">
<link rel="stylesheet" href="/static/css/teacher.css" type="text/css" >
<title>Teacher About</title>
{% endblock %}
{%block body%}
<div class="teacher">
<div id="title">
About
</div>
<div id="about">
<img src="/static/img/teacher.jpg" alt="picture" height="260px" width="230px" title=""/>
Yan Jian-Feng<br>
PhD, Associate Professor<br>
School of Computer Science and Technology, Soochow University<br>
<b>Office</b>  sds414d1s11sd<br>
<b>Phone </b> 18888886666<br>
<b>Email </b> 123345@hsh.com<br>
<b>Address</b> sssd2d12d2d2d1d12<br>
</div>
</div>
<div class="list">
<div id="title">
Patent</div>
</div>
<div class="list">
<div id="title">
Project</div>
</div>
<div class="list">
<div id="title">
Paper</div>
</div>
</div>
</div>
{%endblock%}