<html>
<head>
<link rel="stylesheet" href="/static/css/login.css" type="text/css" >
</head>
<body>
<div class="empty">
</div>
<div class="login">
<form   action="" method="POST">
<p class="username">
用户名<span class="color1">username</span><input type="text" name="username" class="text_nor"/></p>
<p class="password">
密&nbsp&nbsp&nbsp码<span class="color1">password&nbsp</span><input type="password" name="password" class="text_nor"/></p>
<div class="select">
<input  type="radio" name="RadioButtonList1" value="Administrator">管理员<span class="color1">Administrator</span>&nbsp&nbsp
<input  type="radio" name="RadioButtonList1" value="Editor">编辑者<span class="color1">Editor</span>&nbsp&nbsp
<input  type="radio" name="RadioButtonList1" value="Student">学生<span class="color1">Student</span>
</div>
<input type="submit"   value="" class="btn_dl">
</form>
<a href="/main/"><input type="submit"   value="" class="btn_lt"></a>
</div>
</body>
</html>